/*font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white; 
}
.header__small,
.tel__small,
.ham,
.p__small{
    display: none;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}

/*Header section*/
.header{
    background-image: url(../img/Rectangle_3.jpeg);
    height: 1045px;
    width: 100%;
}
.header__rotate{
    display: flex;
    align-items: center;
    padding-left: 86px;
    background: rgba(51, 51, 51, 0.75);
    color: #C4C4C4;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 10px;
    height: 150px;
    width: 1045px;
    margin-top: -150px;
    margin-left: -895px;
    padding-top: 63px;
    padding-bottom: 64px;
    border-radius: 5px 5px 0 0;
    float: left;
    -moz-transform: rotate(270deg);
    /* FF3.5+ */
    -o-transform: rotate(270deg);
    /* Opera 10.5 */
    -webkit-transform: rotate(-90deg);
    /* Saf3.1+, Chrome */
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    
}
.line{
    -webkit-transform: rotate(-90deg);
    /* Saf3.1+, Chrome */
}
.fab{
    text-align: center;
    font-size: 26px;
    width: 30px;
    margin-right: 15px;
    transform: rotate(90deg);
}


span{
    width: 60px;
}
    
.padding__site{
    padding-top: 51px;
    padding-left: 200px;
    padding-right: 200px;
    box-sizing: border-box;

}
/*По макету
.padding__site{
    padding-top: 51px;
    padding-left: 405px;
    padding-right: 405px;
    box-sizing: border-box;

}*/

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tel{
    font-size: 16px;
    list-style-type: none;
    border-bottom: 1px solid #D1A954;
}
a {
    color: white;
    text-decoration: none;
    
}
.header__nav_li{
    width: 824px;
}
a:hover, a li{
    color: #D1A954;
}
ul.header__nav_li {
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.header__nav_li li{
    color: white;
    font-size: 29px;
    list-style-type: none;
}
.header__nav_li li:hover{
    color: #D1A954;
}
.header__main{
    text-align: start;
    display: flex;
    margin-top: 191px;
    
}
.header__main_text{
    max-width: 540px;
    padding-top: 117px;
}

.header__main_text h1{
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 50px;
}

.header__main_text p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 49px;
    line-height: 21px;   
}

button{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #D1A954;
    padding: 16px 47px;
    color: white;
    letter-spacing: 2px;
    border: 0;
}
.header__main_opt{
    position: relative;
    margin-left: 125px;

}


.outer{
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 0;
    

}
/*.inner{
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 20px;
    margin-bottom: 30px;
}*/
.pagination{
    display: flex;
    justify-content: space-between;
}
.pagination h2{
    font-size: 18px;
    font-weight: 700;
}
/*slider styles*/
.slider{
    position:relative;
    overflow:hidden;
    margin: 0 auto;
    height: 490px !important;
    
  }
  
  .slider ul{
    position:relative;
    width:100%;
    margin:0;
    padding:0;
    height: 200px;
    display:inline-block;
    list-style:none;
    background:#458;
  }
  
  
  .slider ul li{
    position:relative;
    float: left;
    display:inline-block;
    margin:0;
    padding:0;
    background:#fff;
    text-align:center;
    color:#333;
  }
  
  
  .control{
    position: absolute;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    color: #fff;
    text-decoration: none;
    
    cursor: pointer;
  }
  
  .prev{
    left:250px;
  }
  
  .next{
    right: 250px;
  }
  
  





/*Info section */
.info .container{
    background-color: #333333;
    height: 682px;
}
.info .padding__site{
    padding-top: 150px;
}
.info__content{
    display: flex;
    justify-content: space-between;
}

.info__content_text{
    text-align: start;
}
.info__header,
.promo__header,
.partners__header,
.footer__header{
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 100px;
}
.info h3{
    font-size: 21px;
    font-weight: 700;
    max-width: 255px;
    margin-bottom: 40px;
}
.info p{
    font-size: 14px;
    font-weight: 400;
    max-width: 445px;
    line-height: 21px;
}
.info span,
.promo span,
.partners span,
.footer span{
    color: #D1A954;
}
.info__content_data{
    text-align: start;
}
.info__content_data img, 
.info__content_data h4{
    margin-bottom: 20px;
}
/*
@media(min-width: 1295px){
    .padding__site{
        padding-left: 200px;
        padding-right: 200px;
    
    }
    
}*/

/*promo section*/
.promo .container{
   background-color: #333333;
}

.promo .padding__site{
    padding-top: 51px;
    padding-left: 405px;
    padding-right: 405px;
    padding: 75px 0 75px 150px;
}
.promo__scrolling_wrapper {

    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}
.promo:hover .promo__scrolling_wrapper{
    overflow-x: scroll;
}

.promo__scrolling_wrapper .card {
    display: inline-block;
}

.card{
    width: 442px;
    height: 550px;
    position: relative;
}
.image{
    z-index: 1;
}

.search{
    position:absolute;
    z-index: 0;
    top: 200px;
    left: 170px;
    display: none;
}
.card:hover .search{
    display: block;

}
.card:hover .image{
    filter: brightness(50%);
}

.card:hover .card__hor,
.card:hover .card__ver{
    display: none;
}


.card__hor,
.card__ver{
    position: absolute;
    font-size: 24px;
    font-weight: 700; 
}
.card__hor{
    padding: 40px;
    top: 0;
}

.card__ver{
    font-size: 18px;
    transform: rotate(270deg);
    bottom: 90px;
    margin-left: -5px;
}

.awards .container{
    background-color: #333333;

}
.awards .padding__site{
    padding-bottom: 60px;
}
.awards__content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: start;
    background-image:  url(../img/Rectangle\ 28.jpg);
    height: 550px;
    padding-top: 126px;
    padding-left: 190px;

}
.awards__comntent_years h1{
    color: #D1A954;
    font-size: 72px;
    font-weight: 700;
}
.awards__comntent_text{
    max-width: 540px;
}
.awards__comntent_text img{
    margin-bottom: 25px;
}
.awards__comntent_text p{
    font-size: 36px;
    font-weight: 700;
}


/*partners section*/

.partners .container{
    background-color: #333333;
}
.partners .padding__site{
    padding-bottom: 70px;
}
.partners__content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}


/*footer content*/


/*.footer__content_right,
.footer__content_second,
.footer__content_third,
.footer__content_input,
.footer__content_blocks{
    outline: 1px solid white;
}*/


.footer__main{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}
.footer__content_blocks{
    display: flex;
    justify-content: space-between;
}

.footer .container{
    background-color: #333333;
    border-bottom: 1px solid #565656;
}

.footer__content_right h2{
    font-size: 16px;
    font-weight: 700;
    text-align: start;
    margin-bottom: 20px;
}

.footer__content_left{
    margin-bottom: 60px;
}
.footer__content_left p{
    font-size: 12px;
    font-weight: 400;
    color: #989898;
    line-height: 18px;
    letter-spacing: 1.2;
    text-align: start;
    max-width: 390px;
}

.footer__content_textarea textarea{
    width: 310px;
    height: 100px;
    background: #444444;
    border: 1px solid #616161;
    padding: 15px;
}

.footer__content_input input{
    font-size: 12px;
    font-weight: 600;
    color: #989898;
    background-color: #444444;
    width: 180px;
    padding: 15px;
    border: 1px solid #616161;
    margin-bottom: 30px;

}
.footer__content_input form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__content_blocks input{
    margin-right: 30px;
}
.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright h4{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;
    font-weight: 400;
    color: #989898;
    letter-spacing: 1.2;
}
.ham:hover .header__small{
    display: block;
    z-index: 1;

}


/*адаптив*/
@media (max-width: 1440px) {
    .info__content_image{
        display: none;
    }
    .header__nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__nav_li{
        margin-bottom: 50px;
    }
    ul.header__nav_li li{
        margin-right: 20px;
    }
    ul.header__nav_li li:nth-of-type(4){
        margin-right: 0;  
    }
    .padding__site{
        padding-left: 191px;
        padding-right: 150px;
    
    }
    .info p{
        margin-right: 20px;
    }

}


@media (max-width: 1024px) {
    .container{
        max-width: 992px;
        margin: 0 auto;
    }
    .padding__site{
        padding-left: 191px;
        padding-right: 100px;
    
    }
    .header__nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__nav_li{
        margin-bottom: 50px;
    }
    ul.header__nav_li li{
        margin-right: 20px;
    }
    ul.header__nav_li li:nth-of-type(4){
        margin-right: 0;  
    }
    .header__main_opt{
        display: none;
    }

    .info__content_image{
        display: none;
    }
    .promo .padding__site{
        padding-right: 100px;
        padding-left: 191px
    }
    .awards .padding__site{
        padding-left: 0;
        padding-right: 0;
    }
    .awards img{
        background-image:  url(../img/Rectangle\ 28.jpg);
        background-size: cover;
    }

    .partners__content img:nth-of-type(4){
        display: none;
    }

    .footer__content_right{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .footer__content_textarea textarea{
        box-sizing: border-box;
        max-width: 270px;
    }

    .footer__content_blocks{
        max-width: 100%;
    }
    .footer__content_blocks input{
        margin-right: 0;
    }
    .footer__content_left{
        width: 100%;
    }
    .footer__content_blocks input{
        margin-right: 20px;
    }
    .adress h2{
        text-align: end;
    }

}
@media (max-width: 868px){
    .padding__site,
    .header .padding__site,
    .info .padding__site,
    .promo .padding__site,
    .partners .padding__site,
    .footer .padding__site
    {
        padding-left: 39px;
        padding-right: 39px;
    }
    .header__rotate{
        display: none;
    }

}    
    
    

@media (max-width: 768px){
    .container{
        max-width: 800px;
        margin: 0 auto;
    }


    .header{
        position: relative;
        height: 800px;
        max-width: 768px;
    }
    .padding__site{
        padding-top: 90px;
    }

    .padding__site,
    .header .padding__site,
    .info .padding__site,
    .promo .padding__site,
    .partners .padding__site,
    .footer .padding__site
    {
        padding-left: 39px;
        padding-right: 39px;
    }
    .ham{
        display: block;
        margin-top: -30px;
    }
    .tel__small{
        display: block;
        position: absolute;
        top: 56px;
        right: 39px;
        border-bottom: 1px solid #D1A954;
    }
    .awards .padding__site{
        padding-left: 0px;
        padding-right: 0px;
        
    }

    .header__rotate,
    .header__nav{
        display: none;
    }
    .header__main{
        margin-top: 110px;
        
    }

    .header__small{
        position: relative;
        text-align: start;
        width: 300px;
        height: 800px;
        padding: 140px 39px;
        background-color: #333333;
        position: absolute;
        display: none;
    }
    .ham:hover .header__small{
        display: block;

    }

    .header__small img{
        position: absolute;
        top: 38px;
        right: 38px;
    }

    .header__small ul{
        margin-bottom: 89px;
    }

    .header__small li{
        list-style-type: none;
        font-size: 24px;
        font-weight: 700;
        color: white;
        margin-bottom: 35px;
    }
    
    .header__small li:hover{
        color: #D1A954;
    }

    .slinks{
        display: flex;
        justify-content: space-between;
        margin-left: 49px;
        margin-bottom: 54px;
    }
    .fab{
        text-align: center;
        font-size: 26px;
        width: 30px;
        margin-right: 15px;
        transform: rotate(0deg);
    }
    .info__content_text{
        margin-right: 30px;
    }
    .awards__content{
        padding-left: 99px;
    }
    .footer__content_left input{
        margin-right: 15px;
    }
    
}

@media (max-width: 576px){
    .info .padding__site,
    .promo .padding__site,
    .awards .padding__site,
    .footer .padding__site{
        padding-top: 80px;
        padding-right: 33px;
        padding-left: 33px;
    }
   
    .awards__content{
        padding-right: 33px;
        padding-left: 33px;
    }
    .awards__comntent_years{
        margin-right: 24px;
    }
    .container{
        max-width: 576px;
        margin: 0 auto;
    }
    .info__header{
        margin-bottom: 60px;
    }
    .info__content{
        display: flex;
        flex-wrap: wrap;
        
    }
    .info__content h3{
        margin: 0 auto;
        margin-bottom: 40px;
        
    }
    .info__content p{
        text-align: center;
        margin-bottom: 50px;
    }
    .info__content_data{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .info__content_data h3{
        text-align: center;
        width: 576px;
    }
    .partners__content img:nth-of-type(3){
        display: none;
    }
    .footer .padding__site{
        padding-top: 0;
    }
    .footer__content_input {
        width: 509px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__content_input input{
        width: 230px;
        margin-right: 0px;
    }
    .footer__content_right textarea{
        width: 509px;
        
    }
    .footer__content_blocks{
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        width: 509px;
        text-align: center;
    }
    .action{
        flex-wrap: wrap;
    }
    .p__big{
        display: none;
    }
    .p__small{
        display: block;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        color: #989898;
        line-height: 18px;
    }
    .footer__content_left{
        width: 100%;
    }
    .footer__content_blocks{
        justify-content: center;

    }
    .footer__content_blocks button{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .footer__content_left p{
        text-align: center;
    }
}
    @media (max-width: 540px){
        .footer__content_input input {
            margin: auto;
            margin-bottom: 30px;
        }
}
    @media (max-width: 420px){
        .partners{
            display: none;
        }
        .footer__content_input input{
            max-width: 509px;
            margin-right: 0px;
        }

        .awards__content{
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            padding: 0;
    
            align-items: flex-start;
        }

        .awards__comntent_text p {
            font-size: 24px;
            font-weight: 700;
        }
        .awards__comntent_text img {
            margin-bottom: 40px;
        }
        .info{
            display: none;
        }
        .footer__content{
            justify-content: center;
        }
        .container{
            justify-content: center;
        }
        .footer__content_input input {
            margin: auto;
            margin-bottom: 30px;
        }
        .info__header, .promo__header, .partners__header, .footer__header {
            font-size: 48px;
            font-weight: 300;
            margin-bottom: 50px;
        }
        .footer__content_right{
            display: block;
            text-align: start;
        }
        .adress h2{
            text-align: start;


        }
        

    }

    @media (max-width: 280px){
        .footer__content_textarea textarea{
            width: 230px;
        }
        .header__main_text h1{
            font-size: 38px;
            
        }

    }
    


